@charset "utf-8";
/* CSS Document */

body
{
	width:100%;
	margin:0px;
	padding:0px;
	background-color:#0d000a;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#4e4e4e;
	text-align:center;
}

@font-face
{
font-family:"Century Gothic";
src: url(../type/Gothic.ttf);
}


#wrapper
{
	width:1300px;
	height:1000px;
	margin:0px auto 0px auto;
	background-color:#0d000a;
	background-repeat:no-repeat;
	background-image:url(../images/bg.gif);
}

#nav-bar
{
    font-family:"Century Gothic";
	font-size:14px;
	width:1300px;
	float:left;
	height:30px;
	background-color:#0e000b;
	text-align:right;

}

.nav-bar-links
{
	text-decoration:none;
	color:#777777;
	padding-top:5px;
	height:30px;
	width:75px;
	display:block;
	float:right;
	text-align:center;
}

.nav-bar-links:hover
{
	color:#ffffff;	
	padding-top:5px;
	width:75px;
	height:30px;
}

#logo
{
	float:left;
	width:500px;
	height:100px;
	margin-top:10px;
	margin-left:20px;
}

#links
{
	float:left;
	width:650px;
	height:100px;
	margin-top:0px;
	margin-left:110px;
}

#slider {
    background-image: url("../images/slider.png");
    float: left;
    height: 450px;
    margin-top: 30px;
    width: 1300px;
}

#slider-left {
    float: left;
    height: 180px;
    margin-left: 46px;
    margin-top: 183px;
    width: 330px;
}
#slider-center {
    float: left;
    height: 225px;
    margin-left: 40px;
    margin-top: 75px;
    width: 474px;
}
#slider-right {
    float: left;
    height: 180px;
    margin-left: 30px;
    margin-top: 183px;
    width: 330px;
}
#shops h4 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
	height:42px;
}


#hr
{
	float:left;
	width:1300px;
	height:3px;
}

#icons
{
	float:left;
	width:1300px;
	height:90px;
	background-color:#0e000b;
}

#icons img
{
	padding:10px;
	cursor:pointer;
}


#text
{
	float:left;
	width:1300px;
	height:30px;
	background-color:#2a1124;
}

#text p
{
	vertical-align:middle;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#e9e9e9;
}

#text2
{
	float:left;
	width:1300px;
	height:30px;
	background-color:#0e000b;
}

#text2 p
{
	vertical-align:middle;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#e9e9e9;
}

#follow
{
	float:left;
	width:1300px;
	height:100px;
	background-color:#e9e9e9;
}

#follow img
{
	padding-right:8px;
	padding-left:8px;
	padding-top:6px;
}

.follow_image
{
	width:78px;
	height:78px;
}

#left
{
	float:left;
	width:250px;
	height:900px;
}

#right
{
	float:left;
	width:250px;
	height:900px;
}


#shops
{
	float:left;
	width:250px;
	height:650px;
	background-color:#0e000b;
	margin-top:20px;
}

#ad
{
	float:left;
	width:250px;
	height:300px;
	background-color:#0e000b;
	margin-top:0px;
}

#ad img
{
	width:250px;
	height:300px;
}

#product
{
	float:left;
	width:250px;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
}

#product h4
{
	font-family:"Century Gothic";
	font-size:18px;
	text-align:left;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:100;
	color:#e9e9e9;
}

#product h5
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	margin-top:5px;
	margin-bottom:0px;
	font-weight:100;
	color:#e9e9e9;
}

#items
{
	float:left;
	width:800px;
	min-height:970px;
	background-color:#e9e9e9;
}

#items-in
{
	float:left;
	width:780px;
	min-height:950px;
	margin:10px;
	background-color:#FFF;
}

.item
{
	float:left;
	width:195px;
	height:190px;
	margin-top:5px;
}

#deals
{
	float:left;
	width:1300px;
	height:200px;
	background-color:#0e000b;
}

#head
{
	float:left;
	width:1300px;
	height:50px;
	background-color:#0e000b;
}

#sep
{
	float:left;
	width:3px;
	height:100px;
	margin-right:3px;
	margin-left:3px;
}

#footer
{
	float:left;
	width:1300px;
	height:120px;
	background-color:#2a1124;
	text-align:left;
	font-family:"Century Gothic";
	color:#bcbcbc;
	font-size:13px;
	margin-top:10px;
}

#footer li
{
	list-style:none;
	font-family:"Century Gothic";
	color:#c4c4c4;
	font-size:13px;
}

#footer a
{
	text-decoration:none;
	color:#bcbcbc;
}

#footer a:hover
{
	color:#ffffff;
}
.fleft
{
	float:left;
	width:100px;
	height:100px;
	background:#333;
	margin:0 0 0 20px;
}
.fright
{
	float:left;
	width:300px;
	height:100px;
}
.add_details.sr
{
	background:#333;
	height:50px;
	width:100px;
	color:#fff;
	padding:20px;
}
.cnt_cont.ppp p
{
	text-align:center!important;
}
.add_detailssr img
{
	height:160px;
	width:150px;
}
.item1 {
    float: left;
    height: 190px;
    margin-top: 5px;
    width: 184px;
}

.stylelist {
    background-color: #EEEEEE;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    float: left;
    margin: 10px 3px;
    text-align: center;
    width: 175px;
}
#slider-left img
{
	max-width:104%!important;
}
#slider-right img
{
	max-width:104%!important;
}
.followers_list li .user_image {
    left: 0;
    position: absolute;
    top: 10px;
}
.followers_list.intro li {
    border: 8px solid #EDEDED;
}
.followers_list li {
    border-top: 1px solid #DDDDDD;
    min-height: 80px;
    padding: 10px 0 10px 90px;
    position: relative;
}
.followers_list {
    list-style-type: none;
}
.followul li
{
	list-style:none;
}
#main {
    background-color: #FFFFFF;
    float: left;
    min-height: 750px;
    width: 1300px;
}
#product34 {
    float: left;
    height: 200px;
    margin-top: 30px;
    width: 185px;
}
/*#product img {
    height: 150px;
    width: 150px;
}*/
#text1 {
    color: #000000;
    float: left;
    height: 50px;
    width: 190px;
	background:#FFFFFF;
}
#text1 h4 {
    color: #000000;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
#text1 h5 {
    color: #5D5D5D;
    font-family: "Century Gothic";
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
#products-bar {
    background-color: #0E000B;
    float: left;
    height: 65px;
    width: 1300px;
}
#products-bar h4 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
}
#products-bar h5 {
    color: #FFFFFF;
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
}
.input {
    background-image: url("images/input-bg.png");
    border: medium none;
    color: #FFFFFF;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    height: 28px;
    padding-left: 5px;
    width: 195px;
}
#products-bar h6 {
    color: #FFFFFF;
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
}
#products-items {
    background-color: #2A1124;
    float: left;
    font-family: "Century Gothic";
    font-size: 14px;
    height: 60px;
    text-align: center;
    width: 1300px;
}
.products-items-links {
    color: #777777;
    display: block;
    float: left;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 180px;
}
#products-items h5 {
    color: #8D8C8C;
    font-family: "Century Gothic";
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
#products-items h4 {
    color: #FFFFFF;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.products-items-sep {
    display: block;
    float: left;
    height: 60px;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    width: 3px;
}
.products-items-sep {
    text-align: center;
}

#addstore {
    background-color: #FFFFFF;
    float: left;
    height: 300px;
    width: 1300px;
}
#bar {
    background-color: #0E000B;
    float: left;
    height: 50px;
    width: 1250px;
	padding:10px 0 0 50px;
}
#details {
    float: left;
    height: 250px;
    width: 1250x;
}
#add-details {
    float: left;
    height: 150px;
    margin-left: 55px;
    margin-top: 30px;
    width: 150px;
}
#bar-light {
    background-color: #2A1124;
    float: left;
    height: 50px;
    width: 1250px;
	padding:10px 0 0 50px;
}
#bar-light h4 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
}
#bar h4 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
}
#products-bar h4 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    /*margin-left: 40px;*/
    margin-top: 20px;
    text-align: left;
}
#hr2 {
    float: left;
    height: 3px;
    margin-top: 30px;
    width: 1300px;
}
#accordion2 h3 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
	padding: 9px 0 1px 62px;
}


h3.bar-lighth3
{
    background-color: #2A1124;
	border:none;
    border-radius: 0 0 0 0;
  
}

h3.barh3
{
    background-color: #000000;
	border:none;
	border-radius: 0 0 0 0;
    
  
}
#product34 img
{
	height:150px;
}
.item9 {
    float: left;
    height: 226px;
    margin-top: 5px;
    width: 195px;
}
#product34 .myspan img
{
	height:20px;
}
#product34 span {
    background-color: lightblue;
    border-radius: 5px 5px 5px 5px;
    color: black;
    left: 0;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
    width: 172px;
	
	
}
#product34 span.myspanlike
{
	/*margin:72px 0 0 0;
	width: 30px;
	left: 75px;*/
}
.item span.myspanlike
{
	margin:72px 0 0 0;
	width: 30px;
	left: 75px;
}
#product34:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: -20px;
left: 30; /*position where enlarged image should offset horizontally */}
#details2 {
    float: left;
    height: 200px;
}
#details3 {
    float: left;
    min-height: 200px;
}
.cnt_cont
 {
    height: auto!important;
}

#accordion3 h3 {
    color: #FFFFFF;
    font-family: "Unicorn";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 9px 0 1px 62px;
    text-align: left;
}
.main2
{
	/*float:left;
	width:700px;
	height:350px;
	margin-top:20px;
	margin-left:50px;*/
}

.main2 h4
{
	font-family:"Unicorn";
	font-size:46px;
	color:#FFF;
	margin-top:6px;
	margin-bottom:17px;
	font-weight:100;
}

#links2
{
	height: 60px;
    margin: 5px auto 0;
    width: 200px;
}

.text
{
	font-family:"Century Gothic";
	font-size:12px;
	color:#c5c4c4;
}

.text-form
{
	font-family:"Century Gothic";
	font-size:14px;
	color:#c5c4c4;
}


.table
{
	float:left;
}

input.input
{
	width:200px;
	height:20px!important;
	border-radius:none!important;
	margin-bottom:0!important;
}
.reveal-modal.main2
{
	background: url("../images/bg23.png") repeat scroll 0 0 transparent;
	left: 42.5%;
	top:130px;
	height:417px;
	width:721px;
}
.reveal-modal.main2 input[type="file"] {
	height:auto;
}
/*************deals style***********************
**********************/
#products-bar
{
	float:left;
	width:1300px;
	height:65px;
	background-color:#0e000b;
}

#products-bar table
{
}


#products-bar h4
{
	font-family:"Unicorn";
	font-size:28px;
	color:#FFF;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
}

#products-bar h5
{
    font-family:"Century Gothic";
	font-size:14px;
	color:#FFF;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
}

#products-bar h6
{
    font-family:"Century Gothic";
	font-size:14px;
	color:#FFF;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
}

#products-bar a
{
	font-family:"Unicorn";
	font-size:28px;
	color:#FFF;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-decoration:none;
}

#products-bar a:hover
{
	text-decoration:none;
	color:#FFF;
}


.input
{
	width:195px;
	height:28px;
	background-image:url(../images/input-bg.png);
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	font-size:12px;
	border:none;
	padding-left:5px;
}

#products-items
{
    font-family:"Century Gothic";
	font-size:14px;
	width:1300px;
	float:left;
	height:60px;
	background-color:#2a1124;
	text-align:center;

}

.products-items-links
{
	text-decoration:none;
	color:#777777;
	padding-top:10px;
	height:60px;
	width:180px;
	display:block;
	float:left;
	text-align:center;
}

.products-items-links:hover
{
	color:#999;	
	padding-top:10px;
	width:180px;
	height:60px;
}


.products-items-sep
{
	text-decoration:none;
	padding-top:0px;
	height:60px;
	width:3px;
	display:block;
	float:left;
	text-align:center;
}



#products-items h4
{
    font-family:"Century Gothic";
	font-size:15px;
	color:#FFF;
	font-weight:100;
	margin-top:10px;
	margin-bottom:0px;
	text-align:center;
}

#products-items h5
{
    font-family:"Century Gothic";
	font-size:10px;
	color:#8d8c8c;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}


#main
{
	float:left;
	width:1300px;
	height:auto;
	background-color:#FFF;
        padding-bottom: 15px;
}

#featured-deal
{
	float:left;
	width:270px;
	height:400px;
	margin-top:30px;
	margin-left:27px;
	margin-right:27px;
	background-image:url(../images/deals-bg.png);
}

#featured-deal h3
{
    font-family:"Century Gothic";
	font-size:16px;
	color:#ffffff;
	font-weight:100;
	margin-top:10px;
	margin-bottom:0px;
	text-align:center;
}

#featured-deal-light
{
	float:left;
	width:270px;
	height:400px;
	margin-top:30px;
	margin-left:27px;
	margin-right:27px;
	background-image:url(../images/deals-bg-light.png);
}

#featured-deal-light h3
{
    font-family:"Century Gothic";
	font-size:16px;
	color:#ffffff;
	font-weight:100;
	margin-top:10px;
	margin-bottom:0px;
	text-align:center;
}


.featured-img
{
	width:270px;
	height:280px;
	margin-top:10px;
}

#featured-text
{
	float:left;
	width:270px;
	height:50px;
	color:#ffffff;
}

#featured-text table
{
	width:260px;
	height:40px;
	margin-top:0px;
}


#featured-text h4
{
    font-family:"Century Gothic";
	font-size:18px;
	color:#ffffff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#featured-text h5
{
    font-family:"Century Gothic";
	font-size:12px;
	color:#ffffff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#featured-text h6
{
	font-family:"Unicorn";
	font-size:34px;
	color:#ffffff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}

.more
{
	width:30px;
	height:25px;
}

#deal-box
{
	float:left;
	width:570px;
	height:300px;
	margin-top:30px;
	margin-left:50px;
	margin-right:0px;
	background-image:url(../images/bg-box.png);
}

#deal-box table
{
	width:250px;
	height:250px;
	vertical-align:top;
	
}

#deal-box h4
{
    font-family:"Century Gothic";
	font-size:24px;
	color:#151515;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#deal-box h5
{
    font-family:"Century Gothic";
	font-size:14px;
	color:#151515;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#deal-box h6
{
	font-family:"Unicorn";
	font-size:46px;
	color:#2a1124;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}

#deal-box p
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#151515;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#deal-box h1
{
    font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#a2a2a2;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#deal-box h2
{
    font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#a2a2a2;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#sep
{
	float:left;
	width:3px;
	height:100px;
	margin-right:3px;
	margin-left:3px;
}
#by
{
	float:left;
	width:600px;
	height:30px;
	
	margin-top:0px;
}

#by h5
{
    font-family:"Century Gothic";
	font-size:12px;
	color:#ffffff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#by h6
{
    font-family:"Century Gothic";
	font-size:10px;
	color:#ffffff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#product-popup
{
	float:left;
	width:600px;
	height:350px;
	margin-left:18px;
	margin-top:65px;
	background-color:#FFF;
}


#image
{
	float:left;
	width:350px;
	height:350px;
	margin-left:0px;
	margin-top:0px;
}

#image img
{
	width:350px;
	height:350px;
}
#pick-more
{
	float:left;
	width:600px;
	height:100px;
	margin-left:18px;
	margin-top:5px;
	background-color:#efefef;
}

#pick-more h3
{
	font-family:"Rothni-Normal-Italic";
	font-size:18px;
	width:50px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:40px;
	font-weight:100;
	float:left;
	color:#8a8b8b;
	text-align:left;
}

#pick-more img
{
	padding-right:8px;
	padding-left:8px;
	padding-top:10px;
}

.pickmore_image
{
	width:80px;
	height:80px;
}

#we-picked
{
	float:left;
	width:600px;
	height:100px;
	margin-left:18px;
	margin-top:5px;
	background-color:#efefef;
}

#we-picked h3
{
	font-family:"Rothni-Normal-Italic";
	font-size:18px;
	width:50px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:40px;
	font-weight:100;
	float:left;
	color:#8a8b8b;
	text-align:left;
}

#we-picked img
{
	padding-right:1px;
	padding-left:1px;
	padding-top:10px;
}

.we-picked_image
{
	width:30px;
	height:30px;
}


#comments
{
	float:left;
	width:600px;
	height:100px;
	margin-left:18px;
	margin-top:5px;
	background-color:#efefef;
}

#comments h3
{
	font-family:"Rothni-Normal-Italic";
	font-size:18px;
	width:50px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:40px;
	font-weight:100;
	float:left;
	color:#8a8b8b;
	text-align:left;
}

#comments img
{
	padding-right:1px;
	padding-left:1px;
	padding-top:10px;
}

.comment
{
	width:300px;
	height:70px;
	margin-top:10px;
}

#popup
{
	float:left;
	width:700px;
	height:750px;
	margin-top:0px;
	margin-left:0px;
	background-image:url(../images/bg.png);
}

#popup h4
{
	font-family:"Unicorn";
	font-size:46px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:100;
}
#popup_text
{
	float:left;
	width:230px;
	height:300px;
	margin-left:0px;
	margin-top:0px;
}

#popup_text table
{
	width:230px;
	margin-left:0px;
	margin-top:30px;
}


#popup_text h5
{
    font-family:"Century Gothic";
	font-size:14px;
	color:#151515;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

#popup_text h4
{
	font-family:"Unicorn";
	font-size:46px;
	color:#2a1124;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}
.listingcss
{
	float:left;
	margin: 20px 0 0 191px;
	width:100px;
	display:none;
}

#follow2 {
    float: left;
    height: 800px;
    margin-left: 150px;
    width: 1000px;
}
#follow2.text {
    height: 30px;
    margin-top: 30px;
    width: 1000px;
	background:none;
}

#follow2.text h5 {
    color: #949494;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#follow2.text h4 {
    color: #949494;
    font-family: "Rothni-Normal-Italic";
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

#follow-box {
    background-image: url("../images/bg-box2.png");
    float: left;
    height: 220px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 60px;
    width: 175px;
}

#follow-box-img {
    float: left;
    height: 150px;
    margin-left: 12px;
    margin-top: 10px;
    width: 150px;
}

#follow-box-img img {
    height: 150px;
    margin-top: 0;
    width: 150px;
}
#follow-text {
    float: left;
    height: 90px;
    width: 175px;
}
#follow-text table {
    width: 175px;
}

#follow-box h4 {
    color: #0E000B;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}